/* content containers */



.container_65_35 {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 1em;

    .side_65 {
        flex: 2;
    }

    .side_35 {
        flex: 1;
    }

}

@media screen and (max-width: 800px) {
    .container_65_35 {
        flex-direction: column-reverse;

    }

}

.packages {


    & .packagesContainer {
        max-width: 800px;
        border-radius: .5em;
        background-color: lightgray;
        color: #212121;
        padding: 1em;
        display: block;
        margin: auto;
        margin-bottom: 1em;

        & h2 {
            font-size: 2em;
            font-weight: bold;
        }

        & .priceDetails {
            display: flex;
            border-top: solid 1px #212121;
            justify-content: space-between;
            margin: 1em;

            & .priceText {
                justify-content: left;

            }

            & .priceNum {
                justify-content: right;

            }

        }
    }

}



.footer {
    width: 100%;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: gray;
    color: #212121;
    text-align: center;

    a {
        color: whitesmoke;
    }
}

.topBar {
    width: 100%;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: gray;
    color: #212121;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: whitesmoke;
}

.courseCategories {

    max-width: 700px;
    margin: auto;
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;

    .accordion {
        background-color: whitesmoke;

        .accordion-title::before {
            display: none;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1em;
        margin: 0;
        padding: 0;


        li {

            a {
                color: #212121;
                background-color: lightgray;
                padding: 3.5em;
                font-weight: bold;
            }
        }
    }
}

@media only screen and (max-width: 800px) {

    .courseCategories {

        div {
            display: block;
            justify-content: space-between;

            div {
                text-align: center;
            }

        }
    }
}

/* content containers reverse */

.container_50_50 {
    justify-content: space-evenly;
    align-items: center;
    display: flex;


    .side_01 {
        flex: 1;
        margin: 1em;
    }

    .side_02 {
        flex: 1;
        margin: 1em;
    }

}

@media only screen and (max-width: 900px) {
    .container_50_50 {
        flex-direction: column-reverse;
    }
}

.container_50_50>* {
    width: 100%;
}




/* forms */

.formSignIN {
    max-width: 1000px;
    display: block;
    margin: auto;
    margin-top: 2em;
}

/* user information */

.userInformation {
    margin: 1em;
    padding: 1em;


    img {
        max-width: 200px;
        display: block;
        margin: auto;
    }

    & .userName {
        text-align: center;
    }

    & .userInfoDropDown {
        max-width: 1000px;
        margin: auto;
        display: block;
        margin-top: 2em;
        margin-bottom: 2em;

        .accordion {
            background-color: whitesmoke;


        }

        .accordion-title {
            color: #212121;
        }

        & ul {
            padding: 0;
        }
    }
}

// score box //

.scoreBox {
    background-color: lightgray;
    padding: .5em;
    max-width: 800px;
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 2em;

    .userScoreNum {
        margin-top: -.5em;
        font-weight: bold;
        font-size: 150px;
    }
}